
.container{
  margin: auto;
  text-align: center;
  background-color: lightskyblue;
  border-radius: 25px;
  position: relative;
}

ol li {
  background: white;
  font-size: 100%;
  transition: 0.2s;

  text-align:left;

  overflow-wrap:break-word;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li{
  background: white;
  font-size: 100%;
  transition: 0.2s;

  text-align:left;

  overflow-wrap:break-word;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol li.checked{
  background: #05445E;
  color: rgba(255, 255, 255, 0.242);
  text-decoration:line-through;
}

ol li div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

/*Before the button is selected, just sitting there so the task isn't done*/
.toggleCompleted{
  background: skyblue;
  outline: none;
  border: none;
  transition: all 500ms ease;
  float:right;
  border-radius:50%;
}

.dropdown-menu{
  position:absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  margin-left:100px; /* More to the left */
}

.btn-success{
  border: white;
  outline: auto;
}

/*Now the button has bbeen clicked, the task is done*/

.btnDone {
  background: #030352ce;
  transition: 300ms ease-in-out;
}

@media (min-width:300px){
  .toggleCompleted{
    width: 25px;
    height: 25px;
  }

  ol {
    margin: 15px;
  }
  ol li{
    padding-bottom:20px;
  }

  ul{
    margin: 15px;
  }
}

@media(min-width:768px)
{

  ol {
      margin: 15px;
    }
  ol li{
    padding:20px;
  }

  ul{
    margin: 15px;
  }

  ul li{
    padding:20px;
  }

  .toggleCompleted{
    width: 30px;
    height: 30px;
  }
}



/*animation : animation-name 
animation-duration 
timing-function(how the thing transitions) 
animation delay(how many seconds the animation waits to run eg: 2 seconds, it will wait 2 seconds to start
-2 means that it will already be done with 2 seconds of the anim when you start)
animation-iteration count(how many times, infinite is a choice)
animation-direction(from the 0% to 100% or start at 100% go to 0%)*/
